header {
    display: flex;
    justify-content: space-between;
    background-color: #001EB3;
    border-bottom: 10px solid #000000;
    padding: 10px 20px; 

}

h3 {
    color: #FFF;
    font-family: "Fira Code";
    
}

nav {

    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-family: "Fira Code";
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
} 

a::before {

    content: "";
    background-color: #10C425;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    
}


#button {

    display: inline-block;
    background-color: #10C425;
    height: 60px; 
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0; 
}

#button:hover {
    background-color: #FFF;
    color: #10C425;
    transform: scale(1.1)

}

body {
    color: #10C425;
}